# autogen-agentchat # Not using Autogen since not implementing multi-agent yet
# autogenstudio
faiss-cpu
# chromadb # Not used for RAG pipeline now
# datasets # Expect to load from Mongo only, no need to fetch dataset from HuggingFace
# tiktoken # Not uaing OpenAI agent now
sentence-transformers
python-dotenv
google-genai
huggingface_hub
pymongo
# googletrans # Translate and process multi-language with LLM already